*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/bagimg.jpg);
    background-size: cover;
    background-position: center;
    padding: 8px 8px;
    position: relative;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-left: 70px;
    padding-right: 70px;
}
.logo{
    width: 150px;
    height: 50px;
    cursor: pointer;  
}
.bttn{
    display: flex;
}

.bttn  .lagbtn{
    border: 0;
    outline: 0;
    background:transparent;
    color: #fff;
    border-radius:4px;
    cursor: pointer;
    margin-bottom: 30px;
    border:double;
    height: 35px;
    font-size: 15px;
   
}

.bttn .sgn{
   width: 80px;
   height: 35px;
   margin-left: 10px;
   border-radius: 4px;
   background: red;
   border: solid transparent;
   font-size: 1rpx;
   color: #fff;
 
   
}
.bttn .sgn:hover{
    background: #c50606;
}

.lagbtn{
    background: transparent;
    display: inline-flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 5px  20px;
  
   
    
}
.lagbtn img{
width: 10px;
margin-left: 10px;

}

.lagbtn .img2{
    width: 20px;
    margin-right: 5px;
}
.header-cnt{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    margin-top: 10px;
}
.header-cnt h1{
    font-size:40px;
    line-height: 50px;
    font-weight: 500px;
    max-width:550px ;
}
.header-cnt h3{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
}
.email-signup{

    background:transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    border: solid;
    border-width: .1px;
    height: 50px;
    width: 300px;
    margin-left: 5px;
    border-color: #928b8b;
   
}
.email-signup input{
   
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
    font-size: 15px;
   color: rgb(255,255,255); 
    
}
.header-cnt button{
    
    background: #db0001;
    border: 0;
    outline: 0;
    color: #f8f3f3;
    font-size: 16px;
    cursor: pointer;
   padding: 15px 30px;
   height: 50px; 
   margin-top: 20px;
   margin-left: 5px;
   border-radius: 4px;
   width: 200px;
  
}
.header-cnt button:hover{
     background: #c50606;
}
.fm{
    display: flex;
}
.h3{
    width: 100%;
    height: 750px;
   
    padding-left: 0px;
    font-size: 25px;
    background: rgb(2, 2, 2);
}
.blank{
    
    height: 100%;
    width: 90%;
    margin-left: 10%;
    background: #000;
    background-image: linear-gradient(rgba(19, 19, 30, 0.7),rgba(5, 4, 9, 0.7));
   margin-left: 70px;
}
.h3 .write{
    padding-left: 80px;
    padding-top: 70px;
    font-weight: 500;
    font-size: 1.5rem;
}
.col1{
   width: 44%;
   height: 200px;
   float: left;
   margin-left: 80px;
   margin-top: 20px;
   border-radius: 8px;
   background-image: linear-gradient(to bottom right, rgb(55, 47, 74) , rgb(6, 1, 26));
   padding-left: 30px;
   padding-top: 20px;
   
}
.col2{
    width:42%;
    height: 200px;
    background-image: linear-gradient(to bottom right, rgb(55, 47, 74) , rgb(6, 1, 26));
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 30px;
   padding-top: 20px;
}
.col3{
    width: 44%;
    height: 200px;
    background-image: linear-gradient(to bottom right, rgb(55, 47, 74) , rgb(6, 1, 26));
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 8px;
    padding-left: 30px;
   padding-top: 20px;
   

}
.col4{
    width: 42%;
    height: 200px;
    background-image: linear-gradient(to bottom right, rgb(55, 47, 74) , rgb(6, 1, 26));
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    padding-left: 30px;
   padding-top: 20px;
}
.col1 .p1{
   font-size: 1.25rem;
}
.col1 .p{

    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 15px;
}
.col2 .p1{
    font-size: 1.25rem;
}
.col2 .p2{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 15px
}
.col3 .p1{
    font-size: 1.25rem;
}
.col3 .p2{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 15px
}
.col4 .p1{
    font-size: 1.25rem;
}
.col4 .p2{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 15px
}

.col1 .imgt {
    width: 60px;
   margin-left: 400px;
   margin-top: 40px;
   animation: shine 1.5s infinite;
   display: block;
   transition: all 0.3s ease;
   filter: brightness(1.5);
}



.cl1{
    background: #3c3c3c;
    width: 87%;
    height: 80px;
    margin-left: 80px;
    margin-top: 10px;
    
   
    
}
.cl1 .p1{
    color: #fff;
    padding-left: 30px;
    padding-top: 25px;

}
.cl2{
    background: #3c3c3c;
    width: 87%;
    margin-left: 80px;
    margin-top: 10px;
    height: 80px;
    display: flex;
    
}
.cl2 .p2{
    color: #fff;
    padding-left: 30px;
    padding-top: 20px;
}
.cl2 .p3{
    color: #fff;
    padding-left: 30px;
    padding-top: 20px;
}
.cl2 .p4{
    color: #fff;
    padding-left: 30px;
    padding-top: 20px;
}
.cl2 .p5{
    color: #fff;
    padding-left: 30px;
    padding-top: 20px;
}
.cl2 .p6{
    color: #fff;
    padding-left: 30px;
    padding-top: 20px;
}

.botmp{
    margin-left: 30%;
    margin-top: 70px;
    font-size: 15px;
}



.h3 .writen{
    margin-left: 80px;
    margin-top: 500px;
    font-size: 1.5rem;
    font-weight: 500;
}
.cl1:hover{
    background: #525151;
}
.cl2:hover{
    background:#525151;
}
.emaillast{
    background:transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    border: solid;
    border-width: .1px;
    height: 50px;
    width: 450px;
    margin-left: 5px;
    border-color: #928b8b;
}
.emaillast input{
   
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
    font-size: 15px;
   color: rgb(255,255,255); 
    
}
.seclwr button{
    
    background: #db0001;
    border: 0;
    outline: 0;
    color: #f8f3f3;
    font-size: 16px;
    cursor: pointer;
   padding: 15px 30px;
   height: 50px; 
   margin-top: 20px;
   margin-left: 5px;
   border-radius: 4px;
   width: 200px;
  
}
.seclwr button:hover{
    background: #c50606;
}
.seclwr{
    margin-left: 23%;
    display: flex;

}
.lwr-p{
    font-weight: 500;
    font-size: 1rem;
    margin-left: 80px;
    margin-top: 80px;
    color:#928b8b;
}
.last{
    margin-left: 6.4%;
    display: flex;
    flex: left;
    margin-top: 45px;
}
.lcol1{
    
    width: 31%;
    height: 100px;
}
.lcol2{
  
    width: 31%;
    height: 100px;
}
.lcol3{
   
    width: 31%;
    height: 100px;
}
.lp{
    font-size: .9rem;
    line-height: 30px;
    color: #928b8b;
    text-decoration: underline;
}
.language{
    display: flex;
    margin-left: 80px;
    margin-top: 120px;
    
    
}
.language button{
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    width: 120px;
    border-color: #928b8b;
    padding-left: 10px
    
}
.bottom{
    margin-left: 80px;
    margin-top: 50px;
    padding-bottom: 100px;
}
.botp{
    font-size: .9rem;
    color: #c2a9a9;
}
.p33{
    padding-left: 770px;
    padding-top: px;
    font-size: 75px;
    font-weight: lighter;
}
.p31{
    padding-left: 1020px;
    margin-top: -55px;
    font-size: 75px;
    font-weight: lighter;
}
.p32{
    padding-left: 670px;
    padding-top: px;
    font-size: 75px;
    font-weight:100;
}
.p34{
    padding-left: 800px;
    padding-top: px;
    font-size: 75px;
    font-weight: lighter;
}
.p35{
    padding-left: 670px;
    padding-top: px;
    font-size: 75px;
    font-weight: lighter;
}
.p36{
    padding-left: 725px;
    padding-top: px;
    font-size: 75px;
    font-weight: lighter;
    
}
i{
    font-size: 100px;
    font-weight: lighter;
}
.mid
{
    padding-left: 45px;
}
.mid1{
    border-radius: 9px;
    width: 140px;
    margin-left: 45px;
}


.hh .mp{
    color: #f6f0f0;
padding-left: 70px;
font-size: 1.5rem;
padding-bottom: 20px;
padding-top: 80px;
}
.mid .one{  
  margin-left: 20px;
  margin-top: -100px;
}
.mid .mid1:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.mid p:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.mid .two{  
    margin-left: 210px;
    margin-top: -100px;
}
.mid .three{  
    margin-left: 400px;
    margin-top: -100px;
}
.mid .four{  
    margin-left: 590px;
    margin-top: -100px;
}
.mid .five{  
    margin-left: 780px;
    margin-top: -100px;
}
.mid .six{    
    margin-left: 970px;
    margin-top: -100px;
}
.mid p{
    -webkit-text-stroke: 2px #ccc4c4;
   color: #000;
   font-size: 90px;
   font-weight: bold;
   width: 50px;
   position: absolute;

}